<h2>Development roadmap</h2>

<h3>2011</h3>
<ul>
<li>Project start</li>
<li>Research and tool testing</li>
<li>Proof of concept</li>
<li>First web based application</li>
<li>Lecturer at Library of Congress, Washington D. C., USA</li>
</ul>

<h3>2012</h3>
<ul>
<li>Second web based application</li>
<li>GSoC 2012 (two themes successfully completed)</li>
<li>Institutional research project (successful completion)</li>
<li>Presentations at the Future Perfect 2012 conference in Wellington, New Zealand</li>
<li>Lighting talk at GSoC 2012 (Google Summer of Code), California, USA</li>
<li>Lecturer at EWASS (European Week of Astronomy and Space Science)</li>
<li>Lecturer at Museum of New Zealand Te Papa Tongarewa, Wellington, New Zealand</li>
<li>Lecturer at TELDAP 2012 International Conference, Taipei, Taiwan</li>
</ul>

<h3>2013</h3>
<ul>
<li>GSoC 2013 (two themes successfully completed)</li>
<li>Third web based application</li>
<li>Institutional research project (successful completion)</li>
<li>Awards – Poster section Curate Thyself, UNC, North Carolina, USA</li>
<li>Lecture - Archives, Libraries, Museums in the Digital World 2013 Conference, CR</li>
</ul>

<h3>2014</h3>
<ul>
<li>Stand-alone application (installation package)</li>
<li>GSoC 2014</li>
<li>Workflow implementation</li>
</ul>
